*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Noto Sans Tamil',sans-serif;
}

body{
background:#f8fafc;
color:#111827;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
background:#0f172a;
color:white;
position:sticky;
top:0;
z-index:999;
}

.logo-area{
display:flex;
align-items:center;
gap:10px;
}

.logo-area img{
width:50px;
height:50px;
}

nav ul{
display:flex;
gap:20px;
list-style:none;
}

nav a{
color:white;
text-decoration:none;
}

.hero{
height:100vh;
background:linear-gradient(135deg,#0f172a,#2563eb);
display:flex;
justify-content:center;
align-items:center;
text-align:center;
color:white;
}

.hero-logo{
width:130px;
margin-bottom:20px;
}

.motto{
font-size:28px;
margin-top:15px;
}

.location{
margin-top:10px;
opacity:0.8;
}

.stats{
display:flex;
gap:20px;
justify-content:center;
margin-top:50px;
flex-wrap:wrap;
}

.card{
background:white;
color:black;
padding:25px;
border-radius:15px;
min-width:180px;
}

section{
padding:80px 10%;
}

section h2{
margin-bottom:25px;
font-size:35px;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:15px;
}

.box{
background:white;
padding:25px;
border-radius:12px;
text-align:center;
box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.result-box{
text-align:center;
padding:50px;
background:#2563eb;
color:white;
border-radius:20px;
}

.result-box h1{
font-size:90px;
}

.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:15px;
}

.gallery img{
width:100%;
border-radius:15px;
}

.btn{
display:inline-block;
padding:12px 25px;
background:#2563eb;
color:white;
text-decoration:none;
border-radius:10px;
margin-top:15px;
}

footer{
background:#0f172a;
color:white;
text-align:center;
padding:25px;
}

@media (max-width: 768px){

nav{
flex-direction:column;
padding:15px;
gap:15px;
}

.logo-area{
flex-direction:column;
text-align:center;
}

.logo-area span{
font-size:14px;
}

nav ul{
flex-wrap:wrap;
justify-content:center;
gap:10px;
}

.hero{
padding:20px;
height:auto;
min-height:100vh;
}

.hero h1{
font-size:28px;
}

.motto{
font-size:22px;
}

.stats{
flex-direction:column;
align-items:center;
}

.card{
width:100%;
max-width:300px;
}

section{
padding:60px 20px;
}

section h2{
font-size:28px;
text-align:center;
}

.result-box h1{
font-size:60px;
}

.gallery{
grid-template-columns:1fr;
}

.gallery img{
width:100%;
}

.btn{
width:100%;
text-align:center;
}

footer{
font-size:14px;
padding:20px;
}

}
